<devices>

   <form>
      <fieldset class="border border-success">
         <legend>Login</legend>
         <input type="text" id="username">
         <input type="password" id="password">
         <button id="show" value="Show" class="btn btn-info">Show</button>
      </fieldset>
   </form>

   <table class="table table-hover " if={devices.length}>

      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Tracking</th>
      <th scope="col">Version</th>

      <tr each="{device in devices}">
         <td>
            {device.name}
         </td>
         <td>
            <details>
               <summary>Status </summary>
               <ul>
                  <li>group: {device.status.group}</li>
                  <li>ioName: {device.status.ioName}</li>
                  <li>status: {device.status.status}</li>
                  <li>time: {device.status.time}</li>
                  <li>version: {device.status.version}</li>
               </ul>
            </details>
         </td>
         <td>


            <span if={!device.tracking}>
               No Tracking
            </span>

            <virtual if={device.tracking}>
               <details>
                  <summary>Tracking </summary>
                  <ul>
                     <li if={device.tracking.data.alt}>alt: {device.tracking.data.alt}</li>
                     <li if={device.tracking.data.battery}>battery: {device.tracking.data.battery}</li>
                     <li if={device.tracking.data.extrabattery}>extbattery: {device.tracking.data.extbattery}</li>
                     <li if={device.tracking.data.gps}>gps: {device.tracking.data.gps}</li>
                     <li if={device.tracking.data.loc}>loc0: {device.tracking.data.loc[0]}</li>
                     <li if={device.tracking.data.loc}>loc1: {device.tracking.data.loc[1]}</li>

                  </ul>
               </details>
            </virtual>


         </td>
         <td>
            {device.version}
         </td>
      </tr>
      <tr if={!devices.length}>
         <td>No hay devices</td>
      </tr>

   </table>

   <script>
      this.devices = []

      var username;
      var password;

      function make_base_auth(user, password) {
         var tok = user + ':' + password;
         var hash = btoa(tok);
         return "Basic " + hash;
      }


      this.on('mount', () => {

         $('#show').on("click", (e) => {
            username = $("input#username").val();
            password = $("input#password").val();

            e.preventDefault();
            $.ajax({
               type: "get",
               beforeSend: function (xhr) {
                  xhr.setRequestHeader("Authorization", make_base_auth(username, password));
               },
               url: "https://api.m2msystemsource.com/v1/devices",
               dataType: 'json',
               success: (response) => {
                  console.log('testeo', this)
                  this.devices = response
                  this.update();

               }
            });
         })


      })
   </script>

</devices>